.zdog-canvas {
background: #13181c;
text-align: center;
}

body {
background: #13181c;
text-align: center;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
}

li {
color: #777;
font-family: 'Saira Extra Condensed', sans-serif;
transition: color 0.3s;
}

li:hover {
color: #fff;
}

li a {
color: #777;
text-decoration: none;
}

li a:hover {
color: #fff;
}